:root {
  --primary-color:hsl(202, 100%, 50%);
  --primary-color-hover: hsl(202, 100%, 60%);
  --primary-color-active: hsl(202, 100%, 42%);
  
  --bg-color: #fff;
  --input-bg: #f8f8f8;
  --input-bg-hover: #fbfbfb;
  --input-bg-active: #f5f5f5;
  --text-color: #000;
  --text-dimmed-color: #666;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #222;
    --input-bg: #333;
    --input-bg-hover: #444;
    --input-bg-active: #555;
    --text-color: #fff;
    --text-dimmed-color: #bbb;
  }
}